.column-brandName {
  width: 16%;
}

.column-modelName {
  width: 16%;
}

.column-power {
  width: 16%;
}

.column-capacity {
  width: 16%;
}

.column-registrationNumber {
  width: 16%;
}

.column-year {
  width: 16%;
}
