.column-title {
  width: 52%;
}

.column-fromDate {
  width: 8%;
}

.column-toDate {
    width: 8%;
}

.column-fromPlace {
    width: 8%;
  }

  .column-toPlace {
    width: 8%;
  }

  .column-speed {
    width: 8%;
  }
